<plugin start="true">
	<uid>pt.uminho.anote2.gate</uid>
	<name>@Note2 Gate 5.1 (Plug-in)</name>
	<version>1.0.0</version>
		
	<dependencies>
		<dependency uid="pt.uminho.anote2.core"/>
		<dependency uid="pt.uminho.anote2.datastructures"/>
		<dependency uid="pt.uminho.anote2.aibench.corpora"/>
	</dependencies>
	
	<extensions>

	</extensions>

</plugin>
